In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("C://Users//Soundharyaa T V//Documents//ONLINE LEARNINGS//Tableau Projects//Heart Diseases Prediction//CardioVascular.csv")

In [4]:
df.head()

,sbp(mm Hg),ldl(mmol/L),adiposity,tobacco(in Kg),alcohol,typea,age,FamHist,CHD
0,160,5.73,23.11,12.00,97.20,49,52,1,Present
1,144,4.41,28.61,0.01,2.06,55,63,0,Present
2,118,3.48,32.28,0.08,3.81,52,46,1,Absent
3,170,6.41,38.03,7.50,24.26,51,58,1,Present
4,134,3.50,27.78,13.60,57.34,60,49,1,Present

In [5]:
col=df.columns.to_list()

In [7]:
col

['sbp(mm Hg)',
 'ldl(mmol/L)',
 'adiposity',
 'tobacco(in Kg)',
 'alcohol',
 'typea',
 'age',
 'FamHist',
 'CHD']

In [11]:
sbp=[df['sbp(mm Hg)'].to_list()]
ldl=[df['ldl(mmol/L)'].to_list()]
adip=[df['adiposity'].to_list()]
tob=[df['tobacco(in Kg)'].to_list()]
alc=[df['alcohol'].to_list()]
typa=[df['typea'].to_list()]
age=[df[ 'age'].to_list()]
fh=[df[ 'FamHist'].to_list()]
hd=[df['CHD'].to_list()]

In [15]:
dic={
    col[0]:sbp,
    col[1]:ldl,
    col[2]:adip,
    col[3]:tob,
    col[4]:alc,
    col[5]:typa,
    col[6]:age,
    col[7]:fh,
    col[8]:hd
    
}

In [16]:
df=pd.DataFrame(dic)
df

,sbp(mm Hg),ldl(mmol/L),adiposity,tobacco(in Kg),alcohol,typea,age,FamHist,CHD
0,"[160, 144, 118, 170, 134, 132, 142, 114, 114, ...","[5.73, 4.41, 3.48, 6.41, 3.5, 6.47, 3.38, 4.59...","[23.11, 28.61, 32.28, 38.03, 27.78, 36.21, 16....","[12.0, 0.01, 0.08, 7.5, 13.6, 6.2, 4.05, 4.08,...","[97.2, 2.06, 3.81, 24.26, 57.34, 14.14, 2.62, ...","[49, 55, 52, 51, 60, 62, 59, 62, 49, 69, 72, 6...","[52, 63, 46, 58, 49, 45, 38, 58, 29, 53, 60, 4...","[1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, ...","[Present, Present, Absent, Present, Present, A..."

In [17]:
df.to_excel("C://Users//Soundharyaa T V//Documents//ONLINE LEARNINGS//Tableau Projects//Heart Diseases Prediction//Cardio.xlsx")